{% for title in titles %}
    {% if loop.index < 5 %}
        <h{{ loop.index }} class='slide-title'>{{ title }}</h{{ loop.index }}>
    {% else %}
        <h5 class='slide-title'>{{ title }}</h5>
    {% endif %}
{% endfor %}

{{ content|safe }}

<footer class='slide-footer'>
    <span class='deck-location'><span class='slide-number'>{{ slide_number }}</span> / <span class='slide-count'>{{ slide_count }}</span></span>
    <ol class='slide-authors'>
    {% for author in authors %}
        <li>{{ author }}</li>
    {% endfor %}
    </ol>
</footer>
